Repository hmcts/cmc-legal-rep-frontend, pull requests merged in 2019-04, with the labels that each got.

#370 ROC-4132 Validation changes on claim value page
  src/main/app/forms/models/amount.ts
  src/test/app/forms/models/amount.ts
  src/test/features/claim/routes/amount.ts
Labels: ns:cmc-legal-frontend-pr-370

#439 Fix nightly crossbrowser tests
  Jenkinsfile_nightly
  default.conf.js
  package.json
  saucelabs.conf.js
Labels: ns:cmc-legal-frontend-pr-439

#440 Use IDAM PR Helm chart for whitelisting urls (and add liveness)
  Jenkinsfile_CNP
  charts/cmc-legal-frontend/Chart.yaml
  charts/cmc-legal-frontend/requirements.yaml
  charts/cmc-legal-frontend/values.template.yaml
  package.json
  src/main/routes/health.ts
  src/test/routes/health-checks.ts
  yarn.lock
Labels: ns:cmc-legal-frontend-pr-440

#438 ROC-5418: Helm config changes
  charts/cmc-legal-frontend/Chart.yaml
  charts/cmc-legal-frontend/values.aat.template.yaml
  charts/cmc-legal-frontend/values.preview.template.yaml
  charts/cmc-legal-frontend/values.template.yaml
  charts/cmc-legal-frontend/values.yaml
Labels: ns:cmc-legal-frontend-pr-438

#437 Point to SIDAM (demo/saat)
  charts/cmc-legal-frontend/Chart.yaml
  infrastructure/demo.tfvars
  infrastructure/saat.tfvars
Labels: ns:cmc-legal-frontend-pr-437
