Repository hmcts/cmc-legal-rep-frontend, pull requests merged in 2021-02, with the labels that each got.

#987 Fix/upgrade base helm charts to latest v02
  README.md
  charts/cmc-legal-frontend/Chart.yaml
  charts/cmc-legal-frontend/requirements.yaml
  config/default.json
  infrastructure/main.tf
  package-lock.json
  package.json
  renovate.json
  yarn.lock
Labels: ns:money-claims, prd:cmc, rel:cmc-legal-frontend-pr-987

#996 Fix/ROC-8802-Legal-Rep-Master-bot-PR
  package.json
  yarn.lock
Labels: ns:money-claims, prd:cmc, rel:cmc-legal-frontend-pr-996

#982 TA-378 & TA-379 & TA-380 & TA-381: Upgrade crossbrowser dependencies, config, and supported browsers list
  Jenkinsfile_nightly
  default.conf.js
  package.json
  saucelabs.conf.js
  src/integration-test/bootstrap/bootstrap.ts
  src/integration-test/crossbrowser/supportedBrowsers.js
  src/integration-test/helpers/idamHelper.ts
  src/integration-test/helpers/saucelabsReporter.js
  src/integration-test/tests/legal/amountClaim/enterAmountClaimDetails_test.ts
  types/steps.d.ts
  yarn.lock
Labels: ns:money-claims, prd:cmc, rel:cmc-legal-frontend-pr-982

#1001 TA-382: Add retries to @smoke-test tagged e2e test
  src/integration-test/tests/legal/amountClaim/enterAmountClaimDetails_smoke_test.ts
Labels: QA Automation, ns:money-claims, prd:cmc, rel:cmc-legal-frontend-pr-1001

#1002 TA-384 & TA-385: Update Jenkinsfile_nightly crossbrowser tests to run 'chrome' and 'microsoft' browsers
  Jenkinsfile_nightly
  package.json
  src/integration-test/helpers/pageHelper.js
  src/integration-test/tests/legal/amountClaim/pages/amount.ts
  src/integration-test/tests/legal/amountClaim/pages/details-summary.ts
  src/integration-test/tests/legal/amountClaim/pages/housing-disrepair.ts
  src/integration-test/tests/legal/amountClaim/pages/personal-injury.ts
  src/integration-test/tests/legal/amountClaim/pages/statement-of-truth.ts
  src/integration-test/tests/legal/amountClaim/pages/summarise-the-claim.ts
  src/integration-test/tests/legal/amountClaim/pages/total.ts
  src/integration-test/tests/legal/claim/pages/claimant-add.ts
  src/integration-test/tests/legal/claim/pages/claimant-address.ts
  src/integration-test/tests/legal/claim/pages/claimant-preferred-court.ts
  src/integration-test/tests/legal/claim/pages/claimant-reference.ts
  src/integration-test/tests/legal/claim/pages/claimant-representative-address.ts
  src/integration-test/tests/legal/claim/pages/claimant-representative-contacts.ts
  src/integration-test/tests/legal/claim/pages/claimant-representative-name.ts
  src/integration-test/tests/legal/claim/pages/claimant-type.ts
  src/integration-test/tests/legal/defence/pages/defendant-add.ts
  src/integration-test/tests/legal/defence/pages/defendant-address.ts
  src/integration-test/tests/legal/defence/pages/defendant-represented.ts
  src/integration-test/tests/legal/defence/pages/defendant-reps-address.ts
  src/integration-test/tests/legal/defence/pages/defendant-type.ts
  src/integration-test/tests/legal/home/pages/login.ts
  src/integration-test/tests/legal/home/steps/user.ts
  tsconfig.e2e.json
  types/steps-override.d.ts
  types/steps.d.ts
Labels: QA Automation, ns:money-claims, prd:cmc, rel:cmc-legal-frontend-pr-1002

#1005 TA-383 & TA-386: Update Jenkinsfile_nightly crossbrowser tests to also run on 'firefox' and 'safari' browsers
  Jenkinsfile_nightly
  src/integration-test/helpers/pageHelper.js
  src/integration-test/tests/legal/amountClaim/enterAmountClaimDetails_smoke_test.ts
  src/integration-test/tests/legal/amountClaim/pages/total.ts
  src/integration-test/tests/legal/claim/pages/claimant-type.ts
  src/integration-test/tests/legal/defence/pages/defendant-represented.ts
Labels: QA Automation, ns:money-claims, prd:cmc, rel:cmc-legal-frontend-pr-1005
