Repository hmcts/cmc-legal-rep-frontend, pull requests merged in 2021-06, with the labels that each got.

#1048 OCMC - Private Beta PBA migration v1 to v2 Implementation
  charts/cmc-legal-frontend/Chart.yaml
  config/default.json
  config/dockertests.json
  package.json
  src/integration-test/tests/legal/amountClaim/enterAmountClaimDetails_test.ts
  src/main/app.ts
  src/main/app/claims/claimStoreClient.ts
  src/main/app/claims/models/claim.ts
  src/main/app/drafts/models/draftLegalClaim.ts
  src/main/app/forms/models/yourReference.ts
  src/main/app/pay/model/paymentErrorData.ts
  src/main/app/pay/model/paymentErrorResponse.ts
  src/main/app/pay/model/paymentResponse.ts
  src/main/app/pay/payClient.ts
  src/main/features/claim/routes/pay-by-account.ts
  src/main/features/claim/routes/start.ts
  src/main/features/claim/views/pay-by-account.njk
  src/main/features/claim/views/start.njk
  src/main/features/claim/views/your-reference.njk
  src/main/public/stylesheets/application.scss
  src/main/public/stylesheets/components/_warning_text.scss
  src/main/views/includes/propositional_navigation.njk
  src/test/app/forms/models/yourReference.ts
  src/test/data/draft/claimDraft.ts
  src/test/data/entity/claimData.ts
  src/test/features/claim/routes/pay-by-account.ts
  src/test/http-mocks/claim-store.ts
  src/test/http-mocks/draft-store.ts
  src/test/http-mocks/pay.ts
  yarn.lock
Labels: Prathap, ns:money-claims, prd:cmc, rel:cmc-legal-frontend-pr-1048

#1100 Feature/ROC-8879-Legal-Rep-Master-bot-pr
  infrastructure/state.tf
  package.json
  yarn.lock
Labels: ns:money-claims, prd:cmc, rel:cmc-legal-frontend-pr-1100

#1115 Fix audit issues - nightly build failure
  package.json
  src/integration-test/tests/legal/amountClaim/pages/statement-of-truth.ts
  yarn-audit-known-issues
Labels: ns:money-claims, prd:cmc, rel:cmc-legal-frontend-pr-1115
